.container {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -125px;
}

.form {
    width: 100%;
}

.button {
    width: 100%;
}