.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-left: -50px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 30px;
    }
}

.links {
    display: flex;
}

.links a {
    padding: 0px 7px;
    text-decoration: none;
}